/* App.css */

.glow {
  animation: glow 1s ease-in-out infinite;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px #ff5722, 0 0 10px #ff5722, 0 0 15px #ff5722,
      0 0 20px #ff5722;
  }

  to {
    box-shadow: 0 0 10px #ff5722, 0 0 20px #ff5722, 0 0 30px #ff5722,
      0 0 40px #ff5722;
  }
}
